<form class="form flex-col-center-v">
  <h2 class="heading-secondary">Withdrawal</h2>
  <div class="form-input flex-center-v">
    <label for="amount">Amount</label>
    <input
      type="text"
      name="amount"
      class="input-amount"
      {{on "input" (fn this.validateFormElements "amount")}}
      required
    />
  </div>
  {{#if (eq this.isAmountValid false)}}
    <span class="error-message">Invalid amount</span>
  {{/if}}
  <button
    type="button"
    class="button"
    {{on "click" this.withdrawAmount}}
  >Withdraw</button>
</form>