@import url(https://fonts.googleapis.com/css?family=Lato:300,400,600,700);

/* GENERAL STYLING */

:root {
  --font-wt-thin: 300;
  --font-wt-regular: 400;
  --font-wt-semibold: 600;
  --font-wt-bold: 700;

  --white: #fff;
  --very-light-gray: #f3f3f3;
  --light-gray: #f6f6f6;
  --gray: #f9f9f9;
  --blue: #016aba;
  --soft-blue: #cce1f1;
  --dark-blue: #05526a;
  --light-red: #e46855;
  --dark-gray: #262626;
  --green: #28b097;
  --black-alpha: rgba(0, 0, 0, 0.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: var(--font-wt-regular);
  font-size: 1.8rem;
  background-color: var(--very-light-gray);
  color: var(--dark-gray);
}

/* ELEMENTS STYLING */

button,
input {
  background: transparent;
  font-family: inherit;
  color: inherit;
  border: none;
  font-size: inherit;
}
table {
  text-transform: capitalize;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
  font-weight: var(--font-wt-thin);
}

th,
td {
  text-align: left;
  padding: 0.8rem;
}

th {
  background-color: var(--blue);
  color: var(--gray);
  font-weight: var(--font-wt-regular);
}

tbody tr:nth-child(even) {
  background-color: var(--soft-blue);
}
input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  cursor: pointer;
  display: inline-block;
}

input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
  border-radius: 50%;
  border: 1px solid var(--dark-gray);
}

input[type="radio"]:checked + label:before {
  background-color: var(--blue);
  border-color: var(--blue);
}

/* REUSABLE CLASSES */

.flex-col-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-col-center-v {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-v {
  display: flex;
  align-items: center;
}
.flex-center-h {
  display: flex;
  justify-content: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.container {
  min-height: 70vh;
  gap: 3.2rem;
  width: 25%;
  margin: auto;
}
.button {
  padding: 1rem 3rem;
  text-decoration: none;
  color: var(--white);
  background: var(--blue);
  border-radius: 5px;
  border: none;
  font-size: 1.8rem;
  font-weight: var(--font-wt-semibold);
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  align-self: flex-start;
}
.button:hover {
  opacity: 0.8;
}
.link:link,
.link:visited {
  color: var(--blue);
}
.link:hover,
.link:active {
  color: var(--dark-blue);
}
.heading-secondary {
  margin-bottom: 2.4rem;
}
.section {
  padding: 0 4.8rem;
  min-height: 60vh;
}
.error-message {
  font-size: 1.2rem;
  color: var(--light-red);
  margin-top: -1.2rem;
}

/*************** FORM *********************/
.form {
  gap: 1.8rem;
}
.form-input {
  gap: 1.2rem;
}
.form-input input {
  border: 1px solid currentColor;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0.6rem 1.2rem;
}

/*************** TOP NAV *********************/
.top-nav {
  padding: 2.4rem;
  gap: 1.8rem;
  width: 100%;
}
/* LOGO */
.logo {
  width: 5%;
}
.logo-img {
  width: 100%;
}
.title {
  text-transform: uppercase;
  color: var(--blue);
  font-size: 2.4rem;
}
.nav {
  justify-content: space-between;
  padding: 1.2rem;
}
.nav a {
  text-decoration: none;
  color: inherit;
}

.nav-list {
  list-style: none;
  gap: 0.8rem;
}
.nav-list-item {
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  text-transform: capitalize;
  width: max-content;
}
.nav-list-item:hover,
.nav-list-item.active-nav {
  color: var(--blue);
  font-weight: var(--font-wt-semibold);
  box-shadow: inset 0px -2px currentColor;
}
.nav-list-item.logout {
  background-color: var(--light-red);
  color: var(--light-gray);
  margin: 0 2.4rem 0 3.6rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-weight: var(--font-wt-semibold);
}
.nav-list-item.logout:hover {
  box-shadow: none;
  opacity: 0.85;
}

/******************* CUSTOMER PORTAL *******************/

/******************* PROFILE *******************/
.section-profile .heading-secondary {
  text-align: center;
}
.profile-wrapper {
  padding: 6.4rem 0;
  margin-bottom: 3.2rem;
}
.section-profile .logo {
  width: 40%;
}
.profile-card {
  gap: 8.4rem;
}
.profile-info-wrapper {
  gap: 3.2rem;
}
.profile-info {
  font-weight: var(--font-wt-thin);
}
.profile-info span {
  font-weight: var(--font-wt-regular);
  margin-left: 0.8rem;
}
.account-holder-name {
  font-weight: var(--font-wt-bold);
  font-size: 2.4rem;
  color: var(--blue);
}
.section-transactions {
  width: 100%;
  min-height: max-content;
  margin-bottom: 6.4rem;
}
.transactions-none-alert {
  text-align: center;
  font-size: 1.8rem;
  color: var(--blue);
}
.amount {
  font-weight: var(--font-wt-regular);
}
.transaction-filters {
  font-weight: var(--font-wt-thin);
  margin-bottom: 3.6rem;
  justify-content: space-between;
}
.transaction-type-filter {
  gap: 2.4rem;
}
.transaction-entries-num-filter {
  gap: 0.8rem;
}
.transaction-filters input[type="number"],
.transaction-filters input[type="date"] {
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 0 0.4rem;
  color: inherit;
}
.transaction-filters input[type="date"] {
  font-weight: inherit;
}
.transaction-date-filter {
  gap: 0.8rem;
}
.transaction-date-filter input:not(:last-child) {
  margin-right: 2.4rem;
}

/* REUSABLE CLASSES */
.text-green {
  color: var(--green);
}
.text-red {
  color: var(--light-red);
}
.hide {
  display: none;
}
