<main class="container flex-col-center">
  <h2>Register</h2>
  <form class="form flex-col-center">
    <div class="form-input flex-center-v">
      <label for="accountNum">Account No.</label>
      <input type="text" name="accountNum" class="input-account-num" />
    </div>
    <div class="form-input flex-center-v">
      <label for="mobileNum">Mobile No.</label>
      <input type="text" name="mobileNum" class="input-mobile-num" />
    </div>
    <div class="form-input flex-center-v">
      <label for="custId">Customer ID</label>
      <input type="text" name="custId" class="input-cust-id" />
    </div>
    <div class="form-input flex-center-v">
      <label for="upi">UPI ID</label>
      <input type="text" name="upi" class="input-upi" />
    </div>
    <div class="form-input flex-center-v">
      <label for="email">Email ID</label>
      <input type="text" name="email" class="input-email" />
    </div>
    <div class="form-input flex-center-v">
      <label for="password">Password</label>
      <input type="password" name="password" class="input-pwd" />
    </div>

    <button
      type="button"
      class="button"
      {{on "click" this.registerCustomer}}
    >Register</button>
    <p>Already Registered?
      <LinkTo @route="index" class="link">Login</LinkTo>
    </p>
  </form>
</main>